<nav class="column-nav animated">
  <div class="column-nav__title">专栏导航</div>
  <a class="column-nav__item" href="/visualization/">
    <i class="fa fa-cube fa-fw"></i>
    <span>三维可视化开发</span>
  </a>
  <a class="column-nav__item" href="/finance/">
    <i class="fa fa-bolt fa-fw"></i>
    <span>金融高性能开发</span>
  </a>
  <a class="column-nav__item" href="/notes/">
    <i class="fa fa-pen fa-fw"></i>
    <span>开发随笔</span>
  </a>
</nav>
